<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                &copy; @DateTime.Now.Year - Mobishare - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
            <div class="col-md-6 text-center text-md-end mt-2 mt-md-0">
                <a href="#" class="text-decoration-none me-3">Termini di servizio</a>
                <a href="#" class="text-decoration-none">Contatti</a>
            </div>
        </div>
    </div>
</footer>