@{
    Layout = "_AdminLayout.cshtml";
    ViewData["Title"] = "Reports";
}

<div class="container">
    <h1>Reports</h1>
    <div class="box pt-2 ps-2">
        <div class="row mb-3">
            <div class="col-lg-3 pe-5 pb-4">
                <div class="row mt-2">
                    <p class="fs-s text-secondary mb-1">Management</p>
                </div>
                <div class="row">
                    <a href="/Admin/Reports/ManageTickets"
                        class="btn mb-1 text-start b-d @(Context.Request.Path == "/Admin/Reports/ManageTickets" ? "b-g bold-500" : "")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE -->
                            <path fill="currentColor"
                                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4.18C9.6 1.84 10.7 1 12 1s2.4.84 2.82 2zm-7 0a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1M7 7V5H5v14h14V5h-2v2zm4 2h2v4.5h-2zm0 6h2v2h-2z" />
                        </svg>
                        Manage Tickets
                    </a>
                </div>
            </div>
            <div class="col-lg-9 ps-0">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
