<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Mobishare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(Context.Request.Path.ToString().Contains("usersettings", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")"
                        href="/Admin/UserSettings">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(Context.Request.Path.ToString().Contains("vehiclemanagement", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")"
                        href="/Admin/VehicleManagement">Vehicle</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link text-dark @(Context.Request.Path.ToString().Contains("mapmanagement", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")"
                        href="/Admin/MapManagement">Map</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link text-dark @(Context.Request.Path.ToString().Contains("reports", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")"
                        href="/Admin/Reports">Report</a>
                </li>
            </ul>
        </div>
    </div>
</nav>