@page
@model Mobishare.App.Areas.Admin.Pages.MapManagement.VisualizeMapModel
@{
}

<h4>Visualize Map</h4>

<hr />

<div class="controls  mt-3 mb-3">
    <div id="map"></div>
    <input type="hidden" id="allCities" value="@Model.AllCitiesPerimeter" />        
    <input type="hidden" id="allParkingSlots" value="@Model.AllParkingSlotsPerimeter" />
</div>