@page
@using Mobishare.Core.Enums.Chat
@model Mobishare.App.Pages.ChatModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/chat.css">

<div id="chatBox">
    <input type="hidden" id="conversationId" value="@(Model.CurrentConversation.Id)" />
    @if (Model.Messages != null && Model.Messages.Any())
    {
        foreach (var msg in Model.Messages)
        {
            <div class="@(msg.Sender == MessageSenderType.User.ToString() ? "user-message" : "ai-message")">
                @Html.Raw(msg.Message)
                <small><em>@msg.CreatedAt.ToLocalTime().ToString("g")</em></small>
            </div>
        }
    }
    else
    {
        <div>Nessun messaggio presente.</div>
    }
</div>


<div id="inputContainer">
    <textarea id="userInput" rows="1" placeholder="Type a message..."></textarea>
    <button onclick="sendMessage()">Send</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
<script src="~/js/chat.js" type="text/javascript"></script>