@page
@model Mobishare.App.Pages.MainModel
@{
    ViewData["Title"] = "Main Page";
}

<div class="container">
    <div id="map" data-api-key="@Model.GoogleMapsApiKey"></div>
    <br />
    <label for="wktOutput">Output WKT:</label>
    <textarea id="wktOutput" rows="4" style="width: 100%; font-family: monospace;" readonly></textarea>
    <br />
    <button id="sendToServerButton" type="button" class="btn btn-primary"
        style="display: disabled; margin-right: 5px;">Invia
        WKT al Server</button>
    <button id="deletePolygonButton" type="button" class="btn btn-danger" style="display: none;">Elimina
        Poligono</button>
</div>
